<div class="container">
    <div>
      <h1>Openapi Weather Map</h1>
      <a routerLink="">Dashboard</a>
     <p> Weather forecasts, nowcasts and history in a fast and elegant way. Many of us have friends or family living in different parts of the country or around the world. It would be incredibly useful to have a fast and easy way to check the current and forecasted weather for various locations worldwide. While existing websites offer this functionality, they tend to be bulky and slow. </p>
    </div>
</div>