.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  background-color: rgb(64, 64, 247);  
  padding: 0 20px;
  flex-wrap: wrap;
}

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

a {
  font-size: 28px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
}

a:hover {
  color: red;  
}

p {
  font-size: 20px;
  color: #e0e6e3;  
  margin-top: 15px;
  font-weight: bold;
}