.weather-details {
    text-align: center;
  }
  
  .current-weather,
  .weather-forecast {
    margin-top: 20px;
  }
  
  .forecast-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .forecast-card {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  img {
    width: 50px;
    height: 50px;
  }
  .temperature p {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .toggle-btn {
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .toggle-btn:hover {
    background-color: #0056b3;
  }    